<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBy09E0b7tKOcUfk6EaIcjQmV2fwSt3Sws</string>
	<key>GCM_SENDER_ID</key>
	<string>390203078576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projektInz</string>
	<key>PROJECT_ID</key>
	<string>praca-inz-f9c9d</string>
	<key>STORAGE_BUCKET</key>
	<string>praca-inz-f9c9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390203078576:ios:fc6d5ecf3d53d1bf31c875</string>
</dict>
</plist>